body {
  background-image:linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
}

.collection .collection-item {
  background-color: transparent !important;
}

a {
  color: #000000;
}

.tabs {
  background-color: transparent !important;
}
nav {
  
  background: linear-gradient(45deg,#30496B,#30B8D2);
}

.tabs .indicator { 
  background-color: black;
}

.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active {
    color: #000 !important;
}

.padd {
  min-height: 300px;
  max-height: 250px;
  background-size: 100%;
} 

.card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}

.collection {
	border: none !important;
}

.collection .collection-item {
	border-bottom: none !important;
}

#sidenav-overlay {
  z-index: 1;
}

.vue-map {
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute  !important;
}

span.badge.new:after {
    content: "";
}